.App {
  --background-color-gray: #8D8E97;
  --background-color-medium-gray: #DADADA;
  --background-color-extra-light: #F3F3F3;

  &.dark {
    --background-color-gray: #313037;
    --background-color-medium-gray: #DADADA;
    --background-color-extra-light: #313037;
  }
}